<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title is not defined %}
            <title>{{ request.host }}</title>
        {% else %}
            <title>{{ title }} - {{ request.host }}</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
    </head>
    <body>
        <div id="top">
            <a id="logo" href="{{ request.host_url }}"><img src="/static/images/top.png" alt="{{ request.host }}" width="644" height="71"/></a>
        </div>
        {% if breadcrumbs is defined and breadcrumbs %}
            <div id="pageheader">
            <ul id="breadcrumbs" style="font-size:small;">
                {% for crumb in breadcrumbs %}
                    <li>
                    {% if crumb['url'] is none %}
                        {{ crumb['name'] }}
                    {% else %}
                        <a href="{{ crumb['url'] }}">{{ crumb['name'] }}</a>
                    {% endif %}
                    {% if 'sep' not in crumb %}
                        /
                    {% elif crumb['sep'] != "" %}
                        {{ crumb['sep'] }}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}

{% if msg is defined %}
<p>{{ msg }}</p>
{% endif %}

{% block content %}{% endblock %}

        <div id="bottom">
            Application Developed by Peter Palfrader &mdash; Web/Graphics designed by Bernhard Weitzhofer
            <br/>
            Source code can be cloned with <code>git clone <a href="https://salsa.debian.org/snapshot-team/snapshot.git">https://salsa.debian.org/snapshot-team/snapshot.git</a></code>
            or browsed directly on <a href="https://salsa.debian.org/snapshot-team/snapshot"><code>salsa.debian.org</code></a>.
            <br/>
            Please <a href="https://www.debian.org/Bugs/Reporting">report bugs</a> against the <a href="https://bugs.debian.org/snapshot.debian.org">snapshot.debian.org package</a>.
            <br/>
            Built at {{ now }} on {{ thishost }}.
            <br/>
            <br/>
            <br/>
            Hosting for snapshot.debian.org generously provided by our partners.
            <div>
                <a title="Glasklar Teknik AB" href="https://www.glasklarteknik.se/"><img width="174" height="40" alt="Glasklar" src="/static/images/glasklar.png"/></a>
                &nbsp;&nbsp;&nbsp;
                <a title="LeaseWeb offers hosted infrastructure solutions, including Cloud, CDN, Dedicated Servers, Managed Hosting, Colocation, and Hybrid Solutions" href="https://www.leaseweb.com"><img width="150" height="50" alt="LeaseWeb" src="/static/images/leaseweb.png"/></a>
                &nbsp;&nbsp;&nbsp;
		<a title="Wellcome Trust Sanger Institute" href="https://www.sanger.ac.uk"><img width="150" height="50" alt="Sanger" src="/static/images/sanger.png"/></a>
	    </div>
        </div>
    </body>
</html>
