{% extends 'base/page.html' %}

{% block content %}
<h1>Archive {{ archive }}</h1>
<h2>{{ year }}-{{ month }}</h2>

<p>
{% for run in runs %}
<a href="{{ run['run_mr'] }}/">{{ run['run'] }}</a><br />
{% endfor %}
</p>
{% endblock content %}
